{{ if not (.Page.Scratch.Get "scheme") }}
<!-- Include scheme  only first time -->
<!-- Load LIPS, custom functions, and custom scheme sexps -->
<script src="{{ "dist/lips.min.js" | relURL }}" bootstrap></script>
<script src="{{ "/scheme-eval.js" | relURL }}"></script>
<script type="text/x-scheme" src="{{ "/scheme-custom.scm" | relURL }}"></script>

{{ .Page.Scratch.Set "scheme" true }}
{{ end }}

{{ if not (.Page.Scratch.Get "scheme-box-id") }}
  {{ .Page.Scratch.Set "scheme-box-id" 0 }}
{{ end }}

{{ .Page.Scratch.Add "scheme-box-id" 1 }}
{{ $i := (.Page.Scratch.Get "scheme-box-id") }}

{{ $code := trim .Inner "\r\n" }}

<div class="schemewrap grow-wrap" data-replicated-value="{{ $code }}">
<textarea id="scm-{{ $i }}-src" class="schemeblock scheme{{ with .Get "class" }} {{ . }}{{ end }}" onInput="this.parentNode.dataset.replicatedValue = this.value">
{{ $code }}
</textarea>

<div class="schemebutton-wrapper">
<button id="scm-{{ $i }}-src-btn" onclick="scmEval('scm-{{ $i }}-src')" class="schemebutton">Run Program</button>
</div>

<div id="scm-{{ $i }}-src-out" class="scm-output"></div>
</div>




